<!DOCTYPE html>
<html>
<head>
  <title>Spicework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topnavbar">
    <a href="<%= root_path%>" >
      <h2> Home</h2>
    </a>
    <%= current_user.email %> |
    <%= link_to('Logout', destroy_user_session_path, :method => 'delete') %>
  </div>
  <p class="alert"><%= alert %></p>
  <p id="notice"><%= notice %></p>
  <%= yield %>
</body>
</html>


